{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   78b5kvrcpblkhn
    onLoad:    main
    authorize: true
</script>
{% endblock head %}

{% block title %}Dissecting unicorns{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Dissecting Unicorns</h1>

      <p>

        There are <a
        href="https://datascopeanalytics.com/blog/how-do-i-become-a-data-scientist-an-evaluation-of-3-alternatives/">a
        number of ways that you can become a data scientist</a>. Depending on
        your background and preferred career trajectory, a PhD might be
        important, or perhaps a bootcamp is more up your alley. Whatever your
        path, the goal of this web app is to reveal the myriad ways that people
        get into this field and lower the barrier to entry for prospective data
        scientists.

      </p><p>

        <a
        href="https://github.com/datascopeanalytics/dissecting-unicorns">This
        project</a> collates <a
        href="https://github.com/datascopeanalytics/dissecting-unicorns/blob/master/web/static/js/main.js#L5-L10">anonymous
        data from its participants' LinkedIn profiles to capture previous jobs
        they have held, educational experience, and skills</a>. The goal is to
        make it possible for other people to see the potential of a career in
        data science. If you are interested in participating in this project,
        please click below to allow us to store, aggregate, and analyze your
        career trajectory so that we can tell our collective story to others.

      </p>

      <p>
        <button class="btn btn-primary">Share your career experience.</button>        
      </p>

    </div>
  </div>
</div>

  <!--
     TODO: to store member data we need to clearly state that we are doing so.
     https://developer.linkedin.com/legal/storing-member-data
  -->
  <!-- TODO: only download data on login -->
{% endblock content %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock scripts %}
